$accent-color: #2196f3;
$primary-text-color: #212121;
$text-secondary-color: #757575;
$background-color: #2f303a;
$background-button-color: #f5f4fa;
$secondary-background-color: #e5e5e5;
$primary-bottom-color: #188ce8;
$primary-font: "Roboto";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  font-family: $primary-font, sans-serif;
  color: $primary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding: 94px 0;
}
.section--no-padding-top {
  padding-top: 0px;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
}
/*.container-list,
.site-nav,
.contacts,
.social-links {
  list-style-type: none;
}*/

/*.container-list {
  display: flex;
  text-align: center;
*/
&__item:not(:first-child) {
  margin-left: 30px;
}
